net_topology main {
  default                 /unk;
  10.11.0.0/16            /cnc/bj/tc;   #联通土城
  10.13.0.0/16            /cnc/bj/tc;
  10.137.0.0/16           /cnc/bj/tc;
  10.147.0.0/16           /cnc/bj/tc;

  10.12.0.0/16            /ctc/bj/djt;  #电信大郊亭
  10.14.0.0/16            /ctc/bj/djt;
  10.138.0.0/16           /ctc/bj/djt;
  10.148.0.0/16           /ctc/bj/djt;

  10.136.0.0/16           /ctc/bj/zw;   #电信兆维
  10.146.0.0/16           /ctc/bj/zw;

  10.16.128.0/18          /cnc/bj/sjs;  #联通石景山一期


  10.134.0.0/16           /cnc/bj/sjs;  #联通石景山二期
  10.144.0.0/16           /cnc/bj/sjs;

  10.135.0.0/16           /ctc/bj/yf;   #电信永丰
  10.145.0.0/16           /ctc/bj/yf;

  10.128.33.0/24          /cnc/qd;      #联通青岛

  10.128.64.0/24          /cmc/yhg;     #移动雍和宫
  10.128.66.0/24          /cmc/yhg;

  10.128.69.0/24          /cmc/sd;      #移动山东

  10.128.5.0/24           /ctc/wx;      #电信无锡

  10.128.96.0/24          /pbs/pbs;     #鹏博士

  10.132.3.0/24           /ctc/cd;      #电信成都

  10.132.67.0/24          /cmc/sx;      #移动山西

  10.132.35.0/24          /cnc/cc;      #联通长春
}
